[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
pickle-mixin = "*"
scikit-learn = "*"
pandas = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
